# .gitlab-ci.yml

stages:
  - build
  - deploy

# Build stage: Build the Docker image
build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG .

# Deploy stage: Deploy the Docker container
deploy:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker pull $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
    - docker run -d -p 80:80 $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
