$primaryColor: #F77DA9;
$secondaryColor: #9DE9DF;
$tertiaryColor: #f0f5db;

.container {
	padding: 1px;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 8vmin;
}

.title-content {
	font-family: sans-serif, serif;
	color: $primaryColor;
	font-size: 3.5em;
	font-weight: 800;
	text-shadow: 0 0 0.1em #000;
}

.passed-days {
	margin-top: 24px;
	font-family: sans-serif, serif;
	// color: $secondaryColor;
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.first {
		
	}
	.second {
		color: $primaryColor;
		font-size: 3em;
		font-weight: 500;
	}
	.third {
		font-size: 2em;
		color: $primaryColor;
		font-weight: 300;
	}
}

.time-flip-board {
	margin-top: 12px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	span {
		font-size: 3em;
		color: $primaryColor;
	}
}