$primaryColor: #F77DA9;
$secondaryColor: #9DE9DF;
$tertiaryColor: #f0f5db;

body {
	margin: 0;
	background-image: url("https://poke-ball.oss-cn-hangzhou.aliyuncs.com/illustration-with-hearts-with-the-words-love-seamless-romantic-pattern-vector.jpg");
	background-repeat: repeat;
	background-size: 300px;
	background-color: $tertiaryColor;
}

p {
	margin: 0;
}